{% extends "app/main.html" %}

{% block content %}
<div class="col s12 l9">
    <div class="card">
        <form action="{% url 'learning_mail_add' %}" method="post">
            {% csrf_token %}
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form.top }}
                        {{ form.top.label_tag }}
                        {{ form.top.errors }}
                    </div>
                    <div class="input-field col s12 m6">
                        {{ form.message }}
                        {{ form.message.label_tag }}
                        {{ form.message.errors }}
                    </div>
                    <div class="input-field col s12 m6">
                        {{ form.towhom }}
                        {{ form.towhom.label_tag }}
                        {{ form.towhom.errors }}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
